@media (min-width: 768px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
        margin: auto;
    }

    .navbar-nav.navbar-right {
        position: absolute;
        right: 0%;
        transform: translateX(-50%);
    }
}