.log{
    border-radius: 17px;
  background-color: rgb(125, 208, 167);
  padding: 2rem 2rem 2rem 2rem;
  margin: 1rem 1rem 1rem 1rem;
  color: white;
}
.sign{
 border: 1px solid black;
 border-radius: 17px;
 padding: 2rem 2rem 2rem 2rem;
 color: black;
}
.sign:hover{
  color: black;
}
.log:hover{
  color: white;
}
